/** 
 * main.css
 * Kermesse style sheet
 * 
 */
 
/* Typography 
 * Use the Bootstrap font stack. 
 * Override here to change font
 */ 
body {
	/* set a base size here */
	font-size: 14px; 
}

h1 {
	position:relative;
	text-transform:uppercase;
	letter-spacing:0;
	margin:0;
	display:block;
	float:none;
	text-align:center;
	margin:0;
	padding:0;
}

.jumbotron h1 {
	font-size: 36px;
}

@media (max-width: 979px) and (min-width: 768px) {
	h1 {
		font-size:24px;
		line-height:28px;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size:20px !important;
		line-height:24px !important;
	}
}

h1:after {display:none;}
h1:before {display:none;}
@media (min-width: 1200px) {
	h1:after {
		content:"";
		position:relative;
		display:inline-block;
		width:44px;
		height:2px;
		top:-11px;
		margin-left:25px;
		overflow:hidden;
		border:none;
		background:#222222;
	}
	h1:before {
		content:"";
		position:relative;
		display:inline-block;
		width:44px;
		height:2px;
		top:-11px;
		margin-right:25px;
		overflow:hidden;
		border:none;
		background:#222222;
	}
}
@media (min-width: 1200px) {
	h1 { letter-spacing:9px; }
}

#home h2 {
	text-transform: uppercase;
}

h2 {
	font-size:22px;
}

#events h2 {
	margin-top: 10px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 12px;
}
/* End of typography */
.img-responsive {
	margin:0 auto; 
	margin-top: 10px;
} 

figure {
	margin-bottom: 10px;
}

figcaption {
  	margin-top: 5px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/* Google embedded map on Contact page */
.google-maps {
    position: relative;
    padding-bottom: 66.66%; // (400/600 = 0.666 = 66.66%)
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#contact a img {
	border: 2px solid #666;
}

#events li {
    display: block;
    font-weight: bold;
    padding: 5px;
}

#events li:before {
	 /*Using a Bootstrap glyphicon as the bullet point*/
	 content: "\e013"; /* Tick */
	 font-family: 'Glyphicons Halflings';
	 font-size: 12px;
	 float: left;
	 margin-top: 4px;
	 margin-left: -17px;
	 color: green;
}


#feedback li {
    display: block;
}

#feedback li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e005"; /* Heart */
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: red;
} 

#feedback blockquote {
	font-style:italic;
}

#feedback #more {
	margin-bottom: 12px;
}

#feedback img {
	margin-top: 40px;
	margin-bottom: 15px;
}

#feedback #pgind {
	text-align: center;
	font-weight: bold;
}

#feedback #fb-text {
	padding: 10px 20px 20px 0;	
}



#home #fbtext {
height: 110px;
margin-top: 40px;
}

@media only screen and (max-width: 1024px) {
	#home #fbtext {
		margin-top: 0;
	}
}

.fb-panel {
	overflow: hidden;
}

.fb-panel a {
	margin-left: 10px;
	margin-bottom: 5px;
}

.fb-panel p {
	text-align: left;
	padding: 10px 20px 10px 10px;

}

img.fb-panel {
	margin-top: 25px;
}

/* Gallery Slideshow styles */
#galleria .jumbotron {
	text-align: center;
}

#galleria .container .row  {
	text-align: center;
}

#galleria .container .row p {
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  text-align: left;
}

/* Next & previous buttons */
#galleria .prev,
#galleria .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;

}

/* Position the "next button" to the right */
#galleria .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#galleria .prev:hover,
#galleria .next:hover {
  background-color: rgba(0,0,0,0.8);
}

#galleria a:hover {
	text-decoration: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fader {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


nav li.current a  {
	color: whitesmoke !important; 
}

blockquote {
	border-left: 0;	
}
	
/* Gallery */
ul#gallery { 
	list-style: none;
	margin-left: -40px; 
}
	
ul#gallery li {
	padding: 0;
	margin: 0;
	display: inline-block;
}

ul#gallery .img-thumbnail:hover {
	background-color: #ffa8c5; 
}

 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
   margin-bottom: 0;
   border-radius: 0;
   border: 0;
 }

 /* Add a gray background color and some padding to the footer */
 footer {
   background-color: #383838;
   color: white;
   padding: 25px 0;
   border: 1px solid #ccc; 
}

footer img {
	padding-top: 5px; 
}

